.exo1{
    display: flex;
    
}
.block-grey{
    background-color: grey;
    position: relative;
    height: 20px;
    width: 211px ;
}
.carré{
    background-color: blue;
    height: 150px;
    width: 150px;
    animation:change-background 3s 1s infinite alternate;

}
.exo2{
    
    display: flex;
    justify-content: space-around
}
.rotatex{
    background-color: lightblue;
    border: 1px solid black;
    color: white;
    height: 150px;
    width: 150px;
}
.rotatex:hover{
    animation:rotatex 3s alternate
}
.rotatey{
    background-color: lightblue;
    border: 1px solid black;
    color: white;
    height: 150px;
    width: 150px;
    ;
}
.rotatey:hover{
    animation:rotatey 3s alternate
}
.rotatez{
    background-color: lightblue;
    border: 1px solid black;
    color: white;
    height: 150px;
    width: 150px;
}
.rotatez:hover{
    animation:rotatez 3s alternate
}
@keyframes change-background{
0%{
background:blue;
}
50%{
    background: orange;
}
100%{
background: red;
}
}
@keyframes rotatex{
    from{
        transform: rotateX(0);
    }
    to{
        transform: rotateX(180deg);
    }
}
@keyframes rotatey{
    from{
        transform: rotatey(0);
    }
    to{
        transform: rotatey(360deg);
    }
}
@keyframes rotatez{
    from{
        transform: rotatez(0);
    }
    to{
        transform: rotatez(360deg);
    }
}